<meta charset="utf-8">
<title>Hello DTLJ</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

{{#if adminPage}}
    <link rel="stylesheet" href="css/admin.css" media="screen" title="no title" charset="utf-8">
{{/if}}

{{#if clientPage}}
    <link rel="stylesheet" href="css/client.css" media="screen" title="no title" charset="utf-8">
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="js/client.js" charset="utf-8"></script>
{{/if}}

{{#if docsPage}}
    <link rel="stylesheet" href="css/docs.css" media="screen" title="no title" charset="utf-8">
{{/if}}
