<div class="container">
  <h1>this restaurant name</h1>
  <button id="button-refresh"class="btn btn-default" type="submit" name="send">refresh</button>
  <div class=" col col-md-6">
      <pre class="request-output">(results)</pre>
  </div>
</div>
